[package]
name = "{{ package_name }}"
version = "0.1.0"
edition = "2024"

[dependencies]
aidoku = { git = "{{ aidoku_repository }}", rev = "{{ aidoku_rev }}", features = ["json"] }
{% for name, spec in dependencies.items() %}
{{ name }} = { version = "={{ spec.version }}", default-features = false{% if spec.features %}, features = [{% for feature in spec.features %}"{{ feature }}"{% if not loop.last %}, {% endif %}{% endfor %}]{% endif %} }
{% endfor %}

[dev-dependencies]
aidoku = { git = "{{ aidoku_repository }}", rev = "{{ aidoku_rev }}", features = ["test"] }
aidoku-test = { git = "{{ aidoku_repository }}", rev = "{{ aidoku_rev }}" }

[lib]
crate-type = ["cdylib"]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
opt-level = "s"
strip = true
lto = true
